<a href="https://colab.research.google.com/github/Darsangmdd/Fundamental-Analysis-EV-EDBITDA-model-/blob/main/EV_EBITDA_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
source = requests.get('https://www.moneycontrol.com/financials/relianceindustries/consolidated-ratiosVI/RI#RI').text

In [3]:
soup = BeautifulSoup(source, 'lxml')

In [4]:
table = soup.find('table' , class_="mctable1")

In [5]:
tabs = []
for tr in table.find_all('tr')[1:]:
  tabs.append({
            'KEY RATIOS (in Rs. Cr.)': tr.find_all('td')[0].text,
            'MAR 21': tr.find_all('td')[1].text,
            'MAR 20': tr.find_all('td')[2].text,
            'MAR 19': tr.find_all('td')[3].text,
            'MAR 18': tr.find_all('td')[4].text,
            'MAR 17': tr.find_all('td')[5].text,
                        })
print(tabs)

[{'KEY RATIOS (in Rs. Cr.)': 'Per Share Ratios', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'KEY RATIOS (in Rs. Cr.)': 'Basic EPS (Rs.)', 'MAR 21': '76.37', 'MAR 20': '63.07', 'MAR 19': '66.82', 'MAR 18': '60.94', 'MAR 17': '101.33'}, {'KEY RATIOS (in Rs. Cr.)': 'Diluted EPS (Rs.)', 'MAR 21': '75.21', 'MAR 20': '63.06', 'MAR 19': '66.80', 'MAR 18': '60.89', 'MAR 17': '101.14'}, {'KEY RATIOS (in Rs. Cr.)': 'Cash EPS (Rs.)', 'MAR 21': '123.81', 'MAR 20': '97.77', 'MAR 19': '102.38', 'MAR 18': '89.04', 'MAR 17': '140.54'}, {'KEY RATIOS (in Rs. Cr.)': 'Book Value [ExclRevalReserve]/Share (Rs.)', 'MAR 21': '1,240.39', 'MAR 20': '727.79', 'MAR 19': '667.22', 'MAR 18': '501.57', 'MAR 17': '898.11'}, {'KEY RATIOS (in Rs. Cr.)': 'Book Value [InclRevalReserve]/Share (Rs.)', 'MAR 21': '1,240.39', 'MAR 20': '727.79', 'MAR 19': '667.22', 'MAR 18': '501.57', 'MAR 17': '901.05'}, {'KEY RATIOS (in Rs. Cr.)': 'Revenue from Operations/Share (Rs.)', 'MAR 21': '724.47', 'MAR 20': '942.63', 'MAR 19': '960.53', 'MAR 18': '661.39', 'MAR 17': '1,032.04'}, {'KEY RATIOS (in Rs. Cr.)': 'PBDIT/Share (Rs.)', 'MAR 21': '150.60', 'MAR 20': '161.18', 'MAR 19': '156.18', 'MAR 18': '125.17', 'MAR 17': '188.03'}, {'KEY RATIOS (in Rs. Cr.)': 'PBIT/Share (Rs.)', 'MAR 21': '109.37', 'MAR 20': '126.16', 'MAR 19': '120.86', 'MAR 18': '96.96', 'MAR 17': '148.67'}, {'KEY RATIOS (in Rs. Cr.)': 'PBT/Share (Rs.)', 'MAR 21': '85.25', 'MAR 20': '84.40', 'MAR 19': '93.02', 'MAR 18': '83.36', 'MAR 17': '135.66'}, {'KEY RATIOS (in Rs. Cr.)': 'Net Profit/Share (Rs.)', 'MAR 21': '82.58', 'MAR 20': '62.74', 'MAR 19': '67.05', 'MAR 18': '60.83', 'MAR 17': '101.19'}, {'KEY RATIOS (in Rs. Cr.)': 'NP After MI And SOA / Share (Rs.)', 'MAR 21': '76.23', 'MAR 20': '62.08', 'MAR 19': '66.80', 'MAR 18': '60.92', 'MAR 17': '101.05'}, {'KEY RATIOS (in Rs. Cr.)': 'Profitability Ratios', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'KEY RATIOS (in Rs. Cr.)': 'PBDIT Margin (%)', 'MAR 21': '20.78', 'MAR 20': '17.09', 'MAR 19': '16.25', 'MAR 18': '18.92', 'MAR 17': '18.21'}, {'KEY RATIOS (in Rs. Cr.)': 'PBIT Margin (%)', 'MAR 21': '15.09', 'MAR 20': '13.38', 'MAR 19': '12.58', 'MAR 18': '14.65', 'MAR 17': '14.40'}, {'KEY RATIOS (in Rs. Cr.)': 'PBT Margin (%)', 'MAR 21': '11.76', 'MAR 20': '8.95', 'MAR 19': '9.68', 'MAR 18': '12.60', 'MAR 17': '13.14'}, {'KEY RATIOS (in Rs. Cr.)': 'Net Profit Margin (%)', 'MAR 21': '11.39', 'MAR 20': '6.65', 'MAR 19': '6.98', 'MAR 18': '9.19', 'MAR 17': '9.80'}, {'KEY RATIOS (in Rs. Cr.)': 'NP After MI And SOA Margin (%)', 'MAR 21': '10.52', 'MAR 20': '6.58', 'MAR 19': '6.95', 'MAR 18': '9.21', 'MAR 17': '9.79'}, {'KEY RATIOS (in Rs. Cr.)': 'Return on Networth/Equity (%)', 'MAR 21': '7.01', 'MAR 20': '8.76', 'MAR 19': '10.22', 'MAR 18': '12.29', 'MAR 17': '11.37'}, {'KEY RATIOS (in Rs. Cr.)': 'Return on Capital Employed (%)', 'MAR 21': '6.75', 'MAR 20': '10.62', 'MAR 19': '10.45', 'MAR 18': '11.42', 'MAR 17': '9.22'}, {'KEY RATIOS (in Rs. Cr.)': 'Return on Assets (%)', 'MAR 21': '3.71', 'MAR 20': '3.37', 'MAR 19': '3.94', 'MAR 18': '4.41', 'MAR 17': '4.19'}, {'KEY RATIOS (in Rs. Cr.)': 'Total Debt/Equity (X)', 'MAR 21': '0.32', 'MAR 20': '0.65', 'MAR 19': '0.70', 'MAR 18': '0.62', 'MAR 17': '0.70'}, {'KEY RATIOS (in Rs. Cr.)': 'Asset Turnover Ratio (%)', 'MAR 21': '35.34', 'MAR 20': '51.25', 'MAR 19': '56.78', 'MAR 18': '47.97', 'MAR 17': '42.87'}, {'KEY RATIOS (in Rs. Cr.)': 'Liquidity Ratios', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'KEY RATIOS (in Rs. Cr.)': 'Current Ratio (X)', 'MAR 21': '1.34', 'MAR 20': '0.63', 'MAR 19': '0.73', 'MAR 18': '0.59', 'MAR 17': '0.62'}, {'KEY RATIOS (in Rs. Cr.)': 'Quick Ratio (X)', 'MAR 21': '1.05', 'MAR 20': '0.45', 'MAR 19': '0.52', 'MAR 18': '0.39', 'MAR 17': '0.42'}, {'KEY RATIOS (in Rs. Cr.)': 'Inventory Turnover Ratio (X)', 'MAR 21': '5.72', 'MAR 20': '8.09', 'MAR 19': '8.43', 'MAR 18': '6.44', 'MAR 17': '6.24'}, {'KEY RATIOS (in Rs. Cr.)': 'Dividend Payout Ratio (NP) (%)', 'MAR 21': '7.98', 'MAR 20': '9.78', 'MAR 19': '8.97', 'MAR 18': '9.02', 'MAR 17': '0.00'}, {'KEY RATIOS (in Rs. Cr.)': 'Dividend Payout Ratio (CP) (%)', 'MAR 21': '5.17', 'MAR 20': '6.25', 'MAR 19': '5.87', 'MAR 18': '6.16', 'MAR 17': '0.00'}, {'KEY RATIOS (in Rs. Cr.)': 'Earnings Retention Ratio (%)', 'MAR 21': '92.02', 'MAR 20': '90.22', 'MAR 19': '91.03', 'MAR 18': '90.98', 'MAR 17': '0.00'}, {'KEY RATIOS (in Rs. Cr.)': 'Cash Earnings Retention Ratio (%)', 'MAR 21': '94.83', 'MAR 20': '93.75', 'MAR 19': '94.13', 'MAR 18': '93.84', 'MAR 17': '0.00'}, {'KEY RATIOS (in Rs. Cr.)': 'Coverage Ratios', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'KEY RATIOS (in Rs. Cr.)': 'Interest Coverage Ratios (%)', 'MAR 21': '3.33', 'MAR 20': '3.63', 'MAR 19': '4.34', 'MAR 18': '7.13', 'MAR 17': '11.43'}, {'KEY RATIOS (in Rs. Cr.)': 'Interest Coverage Ratios (Post Tax) (%)', 'MAR 21': '3.33', 'MAR 20': '3.63', 'MAR 19': '4.34', 'MAR 18': '7.13', 'MAR 17': '11.43'}, {'KEY RATIOS (in Rs. Cr.)': 'Valuation Ratios', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'KEY RATIOS (in Rs. Cr.)': 'Enterprise Value (Cr.)', 'MAR 21': '1,596,689.40', 'MAR 20': '977,860.06', 'MAR 19': '1,076,884.43', 'MAR 18': '703,682.16', 'MAR 17': '573,921.28'}, {'KEY RATIOS (in Rs. Cr.)': 'EV/Net Operating Revenue (X)', 'MAR 21': '3.42', 'MAR 20': '1.64', 'MAR 19': '1.89', 'MAR 18': '1.80', 'MAR 17': '1.88'}, {'KEY RATIOS (in Rs. Cr.)': 'EV/EBITDA (X)', 'MAR 21': '16.45', 'MAR 20': '9.57', 'MAR 19': '11.64', 'MAR 18': '9.49', 'MAR 17': '10.32'}, {'KEY RATIOS (in Rs. Cr.)': 'MarketCap/Net Operating Revenue (X)', 'MAR 21': '2.77', 'MAR 20': '1.18', 'MAR 19': '1.42', 'MAR 18': '1.33', 'MAR 17': '1.28'}, {'KEY RATIOS (in Rs. Cr.)': 'Retention Ratios (%)', 'MAR 21': '92.01', 'MAR 20': '90.21', 'MAR 19': '91.02', 'MAR 18': '90.97', 'MAR 17': '0.00'}, {'KEY RATIOS (in Rs. Cr.)': 'Price/BV (X)', 'MAR 21': '1.84', 'MAR 20': '1.57', 'MAR 19': '2.09', 'MAR 18': '1.78', 'MAR 17': '1.49'}, {'KEY RATIOS (in Rs. Cr.)': 'Price/Net Operating Revenue', 'MAR 21': '2.77', 'MAR 20': '1.18', 'MAR 19': '1.42', 'MAR 18': '1.33', 'MAR 17': '1.28'}, {'KEY RATIOS (in Rs. Cr.)': 'Earnings Yield', 'MAR 21': '0.04', 'MAR 20': '0.06', 'MAR 19': '0.05', 'MAR 18': '0.07', 'MAR 17': '0.08'}]

In [6]:
import pandas as pd
df = pd.DataFrame(tabs)
df.set_index('KEY RATIOS (in Rs. Cr.)', inplace = True)
df

                                                 MAR 21  ...      MAR 17
KEY RATIOS (in Rs. Cr.)                                  ...
Per Share Ratios                                         ...
Basic EPS (Rs.)                                   76.37  ...      101.33
Diluted EPS (Rs.)                                 75.21  ...      101.14
Cash EPS (Rs.)                                   123.81  ...      140.54
Book Value [ExclRevalReserve]/Share (Rs.)      1,240.39  ...      898.11
Book Value [InclRevalReserve]/Share (Rs.)      1,240.39  ...      901.05
Revenue from Operations/Share (Rs.)              724.47  ...    1,032.04
PBDIT/Share (Rs.)                                150.60  ...      188.03
PBIT/Share (Rs.)                                 109.37  ...      148.67
PBT/Share (Rs.)                                   85.25  ...      135.66
Net Profit/Share (Rs.)                            82.58  ...      101.19
NP After MI And SOA / Share (Rs.)                 76.23  ...      101.05
Profitability Ratios                                     ...
PBDIT Margin (%)                                  20.78  ...       18.21
PBIT Margin (%)                                   15.09  ...       14.40
PBT Margin (%)                                    11.76  ...       13.14
Net Profit Margin (%)                             11.39  ...        9.80
NP After MI And SOA Margin (%)                    10.52  ...        9.79
Return on Networth/Equity (%)                      7.01  ...       11.37
Return on Capital Employed (%)                     6.75  ...        9.22
Return on Assets (%)                               3.71  ...        4.19
Total Debt/Equity (X)                              0.32  ...        0.70
Asset Turnover Ratio (%)                          35.34  ...       42.87
Liquidity Ratios                                         ...
Current Ratio (X)                                  1.34  ...        0.62
Quick Ratio (X)                                    1.05  ...        0.42
Inventory Turnover Ratio (X)                       5.72  ...        6.24
Dividend Payout Ratio (NP) (%)                     7.98  ...        0.00
Dividend Payout Ratio (CP) (%)                     5.17  ...        0.00
Earnings Retention Ratio (%)                      92.02  ...        0.00
Cash Earnings Retention Ratio (%)                 94.83  ...        0.00
Coverage Ratios                                          ...
Interest Coverage Ratios (%)                       3.33  ...       11.43
Interest Coverage Ratios (Post Tax) (%)            3.33  ...       11.43
Valuation Ratios                                         ...
Enterprise Value (Cr.)                     1,596,689.40  ...  573,921.28
EV/Net Operating Revenue (X)                       3.42  ...        1.88
EV/EBITDA (X)                                     16.45  ...       10.32
MarketCap/Net Operating Revenue (X)                2.77  ...        1.28
Retention Ratios (%)                              92.01  ...        0.00
Price/BV (X)                                       1.84  ...        1.49
Price/Net Operating Revenue                        2.77  ...        1.28
Earnings Yield                                     0.04  ...        0.08

[43 rows x 5 columns]

In [7]:
df.dtypes

MAR 21    object
MAR 20    object
MAR 19    object
MAR 18    object
MAR 17    object
dtype: object

In [8]:
df2 = df.iloc[[35,37], :]
df2.columns

Index(['MAR 21', 'MAR 20', 'MAR 19', 'MAR 18', 'MAR 17'], dtype='object')

In [9]:
df2['MAR 21'] = df2['MAR 21'].str.replace(',','').astype('float')
df2['MAR 20'] = df2['MAR 20'].str.replace(',','').astype('float')
df2['MAR 19'] = df2['MAR 19'].str.replace(',','').astype('float')
df2['MAR 18'] = df2['MAR 18'].str.replace(',','').astype('float')
df2['MAR 17'] = df2['MAR 17'].str.replace(',','').astype('float')
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                             MAR 21     MAR 20  ...     MAR 18     MAR 17
KEY RATIOS (in Rs. Cr.)                         ...
Enterprise Value (Cr.)   1596689.40  977860.06  ...  703682.16  573921.28
EV/EBITDA (X)                 16.45       9.57  ...       9.49      10.32

[2 rows x 5 columns]

In [10]:
 EBITDA = df2.iloc[0,:].values / df2.iloc[1,:].values
 EBITDA = EBITDA.tolist()
 print(EBITDA)
 df2.loc['EBITDA'] = EBITDA
 df2

[97063.18541033435, 102179.73458725183, 92515.84450171821, 74149.85879873551, 55612.52713178295]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

                               MAR 21  ...         MAR 17
KEY RATIOS (in Rs. Cr.)                ...
Enterprise Value (Cr.)   1.596689e+06  ...  573921.280000
EV/EBITDA (X)            1.645000e+01  ...      10.320000
EBITDA                   9.706319e+04  ...   55612.527132

[3 rows x 5 columns]

In [11]:
pd.set_option('display.float_format', '{:.2f}'.format)
df2

                            MAR 21    MAR 20     MAR 19    MAR 18    MAR 17
KEY RATIOS (in Rs. Cr.)
Enterprise Value (Cr.)  1596689.40 977860.06 1076884.43 703682.16 573921.28
EV/EBITDA (X)                16.45      9.57      11.64      9.49     10.32
EBITDA                    97063.19 102179.73   92515.84  74149.86  55612.53

In [12]:
Growth_in_EBITDA = []
for i in range(len(EBITDA)-1):
  value = ((EBITDA[i]-EBITDA[i+1])/EBITDA[i+1])*100
  Growth_in_EBITDA.append(value)
  i+=1 
print(Growth_in_EBITDA)
import numpy as np
print('Mean growth in EBITDA in the past three years = ',np.mean(Growth_in_EBITDA[0:3]))

[-5.007401122723053, 10.445659484148303, 24.76873995516751, 33.33301438185921]
Mean growth in EBITDA in the past three years =  10.068999438864253

In [13]:
print('Expected EBITDA in coming year = {} crores'.format((EBITDA[0]*(100+np.mean(Growth_in_EBITDA[0:3])))/100))

Expected EBITDA in coming year = 106836.47700464468 crores

In [14]:
source1 = requests.get('https://www.moneycontrol.com/financials/relianceindustries/consolidated-balance-sheetVI/RI#RI').text

In [15]:
soup1 = BeautifulSoup(source1, 'lxml')
table = soup1.find('table' , class_="mctable1")

tabs = []
for tr in table.find_all('tr')[1:]:
  tabs.append({
            'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': tr.find_all('td')[0].text,
            'MAR 21': tr.find_all('td')[1].text,
            'MAR 20': tr.find_all('td')[2].text,
            'MAR 19': tr.find_all('td')[3].text,
            'MAR 18': tr.find_all('td')[4].text,
            'MAR 17': tr.find_all('td')[5].text,
                        })
print(tabs)

[{'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': '\xa0', 'MAR 21': '12 mths', 'MAR 20': '12 mths', 'MAR 19': '12 mths', 'MAR 18': '12 mths', 'MAR 17': '12 mths'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'EQUITIES AND LIABILITIES', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': "SHAREHOLDER'S FUNDS", 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Equity Share Capital', 'MAR 21': '6,445.00', 'MAR 20': '6,339.00', 'MAR 19': '5,926.00', 'MAR 18': '5,922.00', 'MAR 17': '2,959.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Share Capital', 'MAR 21': '6,445.00', 'MAR 20': '6,339.00', 'MAR 19': '5,926.00', 'MAR 18': '5,922.00', 'MAR 17': '2,959.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Reserves and Surplus', 'MAR 21': '693,727.00', 'MAR 20': '442,827.00', 'MAR 19': '381,186.00', 'MAR 18': '287,569.00', 'MAR 17': '259,876.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Reserves and Surplus', 'MAR 21': '693,727.00', 'MAR 20': '442,827.00', 'MAR 19': '381,186.00', 'MAR 18': '287,569.00', 'MAR 17': '260,746.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Shareholders Funds', 'MAR 21': '700,172.00', 'MAR 20': '449,166.00', 'MAR 19': '387,112.00', 'MAR 18': '293,491.00', 'MAR 17': '263,705.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Minority Interest', 'MAR 21': '99,260.00', 'MAR 20': '12,181.00', 'MAR 19': '8,280.00', 'MAR 18': '3,539.00', 'MAR 17': '2,917.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'NON-CURRENT LIABILITIES', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Long Term Borrowings', 'MAR 21': '163,683.00', 'MAR 20': '197,631.00', 'MAR 19': '207,506.00', 'MAR 18': '144,175.00', 'MAR 17': '152,148.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Deferred Tax Liabilities [Net]', 'MAR 21': '37,001.00', 'MAR 20': '54,123.00', 'MAR 19': '49,923.00', 'MAR 18': '29,618.00', 'MAR 17': '26,735.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Other Long Term Liabilities', 'MAR 21': '40,903.00', 'MAR 20': '38,108.00', 'MAR 19': '29,407.00', 'MAR 18': '28,752.00', 'MAR 17': '29,162.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Long Term Provisions', 'MAR 21': '2,625.00', 'MAR 20': '1,790.00', 'MAR 19': '2,856.00', 'MAR 18': '2,906.00', 'MAR 17': '2,353.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Non-Current Liabilities', 'MAR 21': '244,212.00', 'MAR 20': '291,652.00', 'MAR 19': '289,692.00', 'MAR 18': '205,451.00', 'MAR 17': '210,398.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'CURRENT LIABILITIES', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Short Term Borrowings', 'MAR 21': '60,081.00', 'MAR 20': '93,786.00', 'MAR 19': '64,436.00', 'MAR 18': '37,429.00', 'MAR 17': '31,528.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Trade Payables', 'MAR 21': '108,897.00', 'MAR 20': '96,799.00', 'MAR 19': '108,309.00', 'MAR 18': '106,861.00', 'MAR 17': '76,595.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Other Current Liabilities', 'MAR 21': '106,086.00', 'MAR 20': '220,440.00', 'MAR 19': '143,251.00', 'MAR 18': '168,330.00', 'MAR 17': '125,423.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Short Term Provisions', 'MAR 21': '2,504.00', 'MAR 20': '1,890.00', 'MAR 19': '1,326.00', 'MAR 18': '1,232.00', 'MAR 17': '1,769.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Current Liabilities', 'MAR 21': '277,568.00', 'MAR 20': '412,915.00', 'MAR 19': '317,322.00', 'MAR 18': '313,852.00', 'MAR 17': '235,315.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Capital And Liabilities', 'MAR 21': '1,321,212.00', 'MAR 20': '1,165,915.00', 'MAR 19': '1,002,406.00', 'MAR 18': '816,348.00', 'MAR 17': '712,339.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'ASSETS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'NON-CURRENT ASSETS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Tangible Assets', 'MAR 21': '451,066.00', 'MAR 20': '435,920.00', 'MAR 19': '302,115.00', 'MAR 18': '316,031.00', 'MAR 17': '170,483.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Intangible Assets', 'MAR 21': '79,980.00', 'MAR 20': '86,479.00', 'MAR 19': '84,262.00', 'MAR 18': '82,041.00', 'MAR 17': '23,151.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Capital Work-In-Progress', 'MAR 21': '71,171.00', 'MAR 20': '59,096.00', 'MAR 19': '150,178.00', 'MAR 18': '166,220.00', 'MAR 17': '250,377.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Fixed Assets', 'MAR 21': '656,999.00', 'MAR 20': '631,505.00', 'MAR 19': '565,840.00', 'MAR 18': '585,094.00', 'MAR 17': '518,471.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Non-Current Investments', 'MAR 21': '212,382.00', 'MAR 20': '203,852.00', 'MAR 19': '164,612.00', 'MAR 18': '25,259.00', 'MAR 17': '25,639.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Deferred Tax Assets [Net]', 'MAR 21': '1,147.00', 'MAR 20': '2,900.00', 'MAR 19': '4,776.00', 'MAR 18': '5,075.00', 'MAR 17': '5,537.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Long Term Loans And Advances', 'MAR 21': '2,484.00', 'MAR 20': '21,732.00', 'MAR 19': '5,452.00', 'MAR 18': '2,668.00', 'MAR 17': '2,708.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Other Non-Current Assets', 'MAR 21': '64,977.00', 'MAR 20': '37,407.00', 'MAR 19': '17,676.00', 'MAR 18': '8,653.00', 'MAR 17': '8,279.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Non-Current Assets', 'MAR 21': '948,201.00', 'MAR 20': '907,655.00', 'MAR 19': '770,353.00', 'MAR 18': '632,562.00', 'MAR 17': '565,526.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'CURRENT ASSETS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Current Investments', 'MAR 21': '152,446.00', 'MAR 20': '72,915.00', 'MAR 19': '71,023.00', 'MAR 18': '57,603.00', 'MAR 17': '57,260.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Inventories', 'MAR 21': '81,672.00', 'MAR 20': '73,903.00', 'MAR 19': '67,561.00', 'MAR 18': '60,837.00', 'MAR 17': '48,951.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Trade Receivables', 'MAR 21': '19,014.00', 'MAR 20': '19,656.00', 'MAR 19': '30,089.00', 'MAR 18': '17,555.00', 'MAR 17': '8,177.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Cash And Cash Equivalents', 'MAR 21': '17,397.00', 'MAR 20': '30,920.00', 'MAR 19': '11,081.00', 'MAR 18': '4,255.00', 'MAR 17': '3,023.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Short Term Loans And Advances', 'MAR 21': '65.00', 'MAR 20': '669.00', 'MAR 19': '545.00', 'MAR 18': '2,327.00', 'MAR 17': '996.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'OtherCurrentAssets', 'MAR 21': '102,417.00', 'MAR 20': '60,197.00', 'MAR 19': '51,754.00', 'MAR 18': '41,209.00', 'MAR 17': '28,406.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Current Assets', 'MAR 21': '373,011.00', 'MAR 20': '258,260.00', 'MAR 19': '232,053.00', 'MAR 18': '183,786.00', 'MAR 17': '146,813.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Total Assets', 'MAR 21': '1,321,212.00', 'MAR 20': '1,165,915.00', 'MAR 19': '1,002,406.00', 'MAR 18': '816,348.00', 'MAR 17': '712,339.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'OTHER ADDITIONAL INFORMATION', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'CONTINGENT LIABILITIES, COMMITMENTS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Contingent Liabilities', 'MAR 21': '85,366.00', 'MAR 20': '54,891.00', 'MAR 19': '50,904.00', 'MAR 18': '60,997.00', 'MAR 17': '76,941.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'BONUS DETAILS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Bonus Equity Share Capital', 'MAR 21': '5,188.89', 'MAR 20': '5,188.89', 'MAR 19': '5,188.89', 'MAR 18': '5,188.89', 'MAR 17': '2,108.56'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'NON-CURRENT INVESTMENTS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Non-Current Investments Quoted Market Value', 'MAR 21': '0.00', 'MAR 20': '0.00', 'MAR 19': '0.00', 'MAR 18': '0.00', 'MAR 17': '0.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Non-Current Investments Unquoted Book Value', 'MAR 21': '193,228.00', 'MAR 20': '174,448.00', 'MAR 19': '143,718.00', 'MAR 18': '0.00', 'MAR 17': '0.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'CURRENT INVESTMENTS', 'MAR 21': '', 'MAR 20': '', 'MAR 19': '', 'MAR 18': '', 'MAR 17': ''}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Current Investments Quoted Market Value', 'MAR 21': '0.00', 'MAR 20': '0.00', 'MAR 19': '0.00', 'MAR 18': '0.00', 'MAR 17': '0.00'}, {'BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)': 'Current Investments Unquoted Book Value', 'MAR 21': '115,098.00', 'MAR 20': '40,993.00', 'MAR 19': '44,706.00', 'MAR 18': '0.00', 'MAR 17': '0.00'}]

In [16]:
df3 = pd.DataFrame(tabs)
df3

   BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)  ...      MAR 17
0                                                     ...     12 mths
1                           EQUITIES AND LIABILITIES  ...
2                                SHAREHOLDER'S FUNDS  ...
3                               Equity Share Capital  ...    2,959.00
4                                Total Share Capital  ...    2,959.00
5                               Reserves and Surplus  ...  259,876.00
6                         Total Reserves and Surplus  ...  260,746.00
7                           Total Shareholders Funds  ...  263,705.00
8                                  Minority Interest  ...    2,917.00
9                            NON-CURRENT LIABILITIES  ...
10                              Long Term Borrowings  ...  152,148.00
11                    Deferred Tax Liabilities [Net]  ...   26,735.00
12                       Other Long Term Liabilities  ...   29,162.00
13                              Long Term Provisions  ...    2,353.00
14                     Total Non-Current Liabilities  ...  210,398.00
15                               CURRENT LIABILITIES  ...
16                             Short Term Borrowings  ...   31,528.00
17                                    Trade Payables  ...   76,595.00
18                         Other Current Liabilities  ...  125,423.00
19                             Short Term Provisions  ...    1,769.00
20                         Total Current Liabilities  ...  235,315.00
21                     Total Capital And Liabilities  ...  712,339.00
22                                            ASSETS  ...
23                                NON-CURRENT ASSETS  ...
24                                   Tangible Assets  ...  170,483.00
25                                 Intangible Assets  ...   23,151.00
26                          Capital Work-In-Progress  ...  250,377.00
27                                      Fixed Assets  ...  518,471.00
28                           Non-Current Investments  ...   25,639.00
29                         Deferred Tax Assets [Net]  ...    5,537.00
30                      Long Term Loans And Advances  ...    2,708.00
31                          Other Non-Current Assets  ...    8,279.00
32                          Total Non-Current Assets  ...  565,526.00
33                                    CURRENT ASSETS  ...
34                               Current Investments  ...   57,260.00
35                                       Inventories  ...   48,951.00
36                                 Trade Receivables  ...    8,177.00
37                         Cash And Cash Equivalents  ...    3,023.00
38                     Short Term Loans And Advances  ...      996.00
39                                OtherCurrentAssets  ...   28,406.00
40                              Total Current Assets  ...  146,813.00
41                                      Total Assets  ...  712,339.00
42                      OTHER ADDITIONAL INFORMATION  ...
43               CONTINGENT LIABILITIES, COMMITMENTS  ...
44                            Contingent Liabilities  ...   76,941.00
45                                     BONUS DETAILS  ...
46                        Bonus Equity Share Capital  ...    2,108.56
47                           NON-CURRENT INVESTMENTS  ...
48       Non-Current Investments Quoted Market Value  ...        0.00
49       Non-Current Investments Unquoted Book Value  ...        0.00
50                               CURRENT INVESTMENTS  ...
51           Current Investments Quoted Market Value  ...        0.00
52           Current Investments Unquoted Book Value  ...        0.00

[53 rows x 6 columns]

In [17]:
df3.set_index('BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)', inplace = True)
df3

                                                         MAR 21  ...      MAR 17
BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)                ...
                                                        12 mths  ...     12 mths
EQUITIES AND LIABILITIES                                         ...
SHAREHOLDER'S FUNDS                                              ...
Equity Share Capital                                   6,445.00  ...    2,959.00
Total Share Capital                                    6,445.00  ...    2,959.00
Reserves and Surplus                                 693,727.00  ...  259,876.00
Total Reserves and Surplus                           693,727.00  ...  260,746.00
Total Shareholders Funds                             700,172.00  ...  263,705.00
Minority Interest                                     99,260.00  ...    2,917.00
NON-CURRENT LIABILITIES                                          ...
Long Term Borrowings                                 163,683.00  ...  152,148.00
Deferred Tax Liabilities [Net]                        37,001.00  ...   26,735.00
Other Long Term Liabilities                           40,903.00  ...   29,162.00
Long Term Provisions                                   2,625.00  ...    2,353.00
Total Non-Current Liabilities                        244,212.00  ...  210,398.00
CURRENT LIABILITIES                                              ...
Short Term Borrowings                                 60,081.00  ...   31,528.00
Trade Payables                                       108,897.00  ...   76,595.00
Other Current Liabilities                            106,086.00  ...  125,423.00
Short Term Provisions                                  2,504.00  ...    1,769.00
Total Current Liabilities                            277,568.00  ...  235,315.00
Total Capital And Liabilities                      1,321,212.00  ...  712,339.00
ASSETS                                                           ...
NON-CURRENT ASSETS                                               ...
Tangible Assets                                      451,066.00  ...  170,483.00
Intangible Assets                                     79,980.00  ...   23,151.00
Capital Work-In-Progress                              71,171.00  ...  250,377.00
Fixed Assets                                         656,999.00  ...  518,471.00
Non-Current Investments                              212,382.00  ...   25,639.00
Deferred Tax Assets [Net]                              1,147.00  ...    5,537.00
Long Term Loans And Advances                           2,484.00  ...    2,708.00
Other Non-Current Assets                              64,977.00  ...    8,279.00
Total Non-Current Assets                             948,201.00  ...  565,526.00
CURRENT ASSETS                                                   ...
Current Investments                                  152,446.00  ...   57,260.00
Inventories                                           81,672.00  ...   48,951.00
Trade Receivables                                     19,014.00  ...    8,177.00
Cash And Cash Equivalents                             17,397.00  ...    3,023.00
Short Term Loans And Advances                             65.00  ...      996.00
OtherCurrentAssets                                   102,417.00  ...   28,406.00
Total Current Assets                                 373,011.00  ...  146,813.00
Total Assets                                       1,321,212.00  ...  712,339.00
OTHER ADDITIONAL INFORMATION                                     ...
CONTINGENT LIABILITIES, COMMITMENTS                              ...
Contingent Liabilities                                85,366.00  ...   76,941.00
BONUS DETAILS                                                    ...
Bonus Equity Share Capital                             5,188.89  ...    2,108.56
NON-CURRENT INVESTMENTS                                          ...
Non-Current Investments Quoted Market Value                0.00  ...        0.00
Non-Current Investments Unquoted Book Value          193,228.00  ...        0.00
CURRENT INVESTMENTS                                              ...
Current Investments Quoted Market Value                    0.00  ...        0.00
Current Investments Unquoted Book Value              115,098.00  ...        0.00

[53 rows x 5 columns]

In [18]:
df4 = df3.iloc[[10],:]
df4

                                                       MAR 21  ...      MAR 17
BALANCE SHEET OF RELIANCE INDUSTRIES (in Rs. Cr.)              ...
Long Term Borrowings                               163,683.00  ...  152,148.00

[1 rows x 5 columns]

In [19]:
df4['MAR 21'] = df4['MAR 21'].str.replace(',','').astype('float')
Debt = df4.iloc[0,0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
print('Total Long term borrowing = {} crores'.format(Debt))

Total Long term borrowing = 163683.0 crores

In [21]:
Expected_EBITDA = (EBITDA[0]*(100+np.mean(Growth_in_EBITDA[0:3])))/100
Ratio = df2.iloc[1,0]

In [22]:
Forecasted_EV = (Expected_EBITDA*Ratio) - Debt
print('The Forecasted Enterprice Value = {} crores'.format(Forecasted_EV))

The Forecasted Enterprice Value = 1593777.046726405 crores

In [23]:
source2 = requests.get('https://www.moneycontrol.com/india/stockpricequote/refineries/relianceindustries/RI').text

In [27]:
soup2 = BeautifulSoup(source2, 'lxml')
table = soup2.find('table' , class_="peer_tbl")

tabs = []
for tr in table.find_all('tr')[1:]:
  tabs.append({
            'Company Name': tr.find_all('td')[0].text,
            'LTP': tr.find_all('td')[1].text,
            'MCap': tr.find_all('td')[3].text,
                        })
print(tabs)

[{'Company Name': '\n\t\t\t\t\t\t\t\tReliance', 'LTP': '2,104.45', 'MCap': '1,356,339.04'}, {'Company Name': '\n\t\t\t\t\t\t\t\tONGC', 'LTP': '120.90', 'MCap': '152,095.58'}, {'Company Name': '\n\t\t\t\t\t\t\t\tPetronet LNG', 'LTP': '228.25', 'MCap': '34,237.50'}, {'Company Name': '\n\t\t\t\t\t\t\t\tOil India', 'LTP': '156.75', 'MCap': '16,998.05'}, {'Company Name': '\n\t\t\t\t\t\t\t\tHOEC', 'LTP': '122.70', 'MCap': '1,622.63'}]

In [29]:
df5 = pd.DataFrame(tabs)
df5.set_index('Company Name', inplace = True)

In [31]:
df5['LTP'] = df5['LTP'].str.replace(',','').astype('float')
df5['MCap'] = df5['MCap'].str.replace(',','').astype('float')
df5

                                   LTP       MCap
Company Name
\n\t\t\t\t\t\t\t\tReliance     2104.45 1356339.04
\n\t\t\t\t\t\t\t\tONGC          120.90  152095.58
\n\t\t\t\t\t\t\t\tPetronet LNG  228.25   34237.50
\n\t\t\t\t\t\t\t\tOil India     156.75   16998.05
\n\t\t\t\t\t\t\t\tHOEC          122.70    1622.63

In [32]:
Outstanding_shares = df5.iloc[0,]/df5.iloc[0,0]

In [35]:
print('The number of Outstanding shares is {} crores'.format(Outstanding_shares))

The number of Outstanding shares is 644.5099859820857 crores

In [34]:
Target_Price = (Forecasted_EV)/ Outstanding_shares
Entry_Price = 0.75*Target_Price
print('The Target price according to the model is Rs.{}'.format(round(Target_Price,2)))
print('The Entry price according to the model is Rs.{}'.format(round(Entry_Price,2)))

The Target price according to the model is Rs.2472.85
The Entry price according to the model is Rs.1854.64